---
layout: default
is_example: true
---

<div class="jumbotron">
	<div class="container">
		<h1 id="example-title">{{ page.title }}</h1>
	</div>
</div>

<div class="container content-container">
	<div class="game-container">
		<iframe frameBorder=0 width=800 height=480 src="bin/html5/bin/index.html"></iframe>
	</div>

	<h2>Notes</h2>
	<p id="example-notes" class="lead">
		{{ content }}
	</p>

	<h2>Source</h2>
	<div class="code-container">
		<pre class="sh_haxe" id="code-example"></pre>
	</div>
	
	<div class="example-nav-box">
		{% if page.use_back_button %}
			<a href="{{ page.back_button_link }}">
				<button class="btn btn-info btn-lg btn-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
			</a>
		{% endif %}
		
		{% if page.use_next_button %}
			<a href="{{ page.next_button_link }}">
				<button class="btn btn-info btn-lg btn-next"><span class="glyphicon glyphicon-chevron-right"></span> Next</button>
			</a>
		{% endif %}
	</div>
</div>